<h1>Musica VIU</h1>
<audio id="audio_player" controls></audio>
@if (playing) {
<h2>{{ playing }}</h2>
}
<div class="recordContainer">
    @for (record of records(); track $index) {
    <div class="recordCard">
        <h2>{{ record.title | uppercase }}</h2>
        <p>Artista: {{ record.artist }}</p>
        <p [ngClass]="{'green': record.year > 2000, 'blue': record.year <= 2000}">Año: {{ record.year }}</p>
        <p>Album: {{ record.title }}</p>
        <img [src]="record.image_path" [alt]="record.title" />
        <hr>
        <h3>Canciones</h3>
        <div class="list-songs">
            @for (i of record.songs; track $index) {
            <app-cancion [song]=i (songToPlay)="reproducirCancionPadre($event)"></app-cancion>
            }
        </div>

    </div>
    }
</div>